.blurred-background {
  height: 100vh;
  background-image: url('https://lh3.googleusercontent.com/YFa-f0a1kOiU0eEX6Q1dw6i8E1wMOyZUrQwI-zd8Na4-WIx1oqEdfW8jbUeGBFyRtXsYhPE6FwWH5NUqUeWzHsS48SaMNA9ZWg=w640-h426-n-rj-l90');
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */
  position: relative;
}

.text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  backdrop-filter: none;
  z-index: 2;
}
