
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* home page */
.landing--page {
  min-height: 100vh;

}

.sub-section{
  border: 2px solid white;
  border-radius: 6px;
}

.subscribe--btn:hover {
  background-color: black;
  color: white;
}

.quick--link  a{
  color: white;
  text-decoration: none;
}

.quick--link  
  a:hover {
    text-decoration: underline;
    color: black;
    font-family: 700;
    font-size: 1.2rem;
  }

.useful--link a{
  color: white;
  text-decoration: none;
}

.useful--link 
  a:hover {
    color: black;
    font-family: 700;
    text-decoration: underline;
  }

.social--media a{
  color: white;
  text-decoration: none;
}

.social--media 
  a:hover{
    color: black;
    font-family: 700;
  }


.footer--div {
  width: 96vw;
  /* min-height: 500px; */
  background-color: #9C5412;
}

.hr--footer {
  width: 80vw;
  border-width: 0.2rem;
  color: white;
  
}

.landing--image {
  min-height: 92vh;
  margin-top: 0.5vh;
  width: 96vw;
  border-radius: 1.98rem;
  background-image: url(/landing.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search--box{
  /* min-height: 25rem; */
  margin: auto;
  border: 3px solid #9C5412;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.6); 
  /* backdrop-filter: blur(10px) brightness(90%) contrast(120%) grayscale(20%) hue-rotate(30deg) invert(10%) opacity(80%) saturate(150%) sepia(10%); */
  
}


/* dashboard */
/* .home--dash {
  height: 100vh;
} */

.responsive-container {
  width: 82vw;
  
}

.responsive-container img {
  border-radius: 1rem;

}

.side--bar {
  width: auto;
  /* height: 100vh; */
}
.my-custom--link a{
  color: white;
  border-radius: .8rem;
}
.my-custom--link a:hover{
  background-color: white;
  color: #9C5412;
  padding: .5rem;
  text-align: center;
  border-radius: .8rem;
  box-shadow: 0 0 20px rgba(245, 242, 242, 0.5);  
  transition: background-color 0.5s, color 0.5s;
  font-weight: 700; 
}

@media (min-width: 576px) {
  .responsive-container {
    width: 25vw;
  }
  .side--bar {
    width: 15vw;
    /* height: 100vh; */
    box-shadow: 0 0 1rem 0 #0c0b0a;  

  }
}

/* T&Cs */
.t---cs a{
  text-decoration: none;
  color: #9C5412;
}

.t---cs a:hover {
  font-weight: 700;
  text-decoration: underline;
}


@media (min-width: 768px) {
  .search--box {
    width: 60vw;
  }
  .search--btn-hm {
    width: 10vw;
  }
}

@media (max-width: 767px) {
  .search--box {
    width: 90vw; 
  }
  .search--btn-hm {
    width: 50vw;
  }
}

.rent--btn {
  min-height: 2.5rem;
  background-color: #9C5412;
  border-radius: 15px 15px 0 0;
  border: 2px solid #9C5412;

}

.search--bar {
  border: 3px solid #9C5412;
  border-radius: 0 15px 15px 15px;
}


.about--btn {
  border-radius: 12px 0 12px 0;
  background-color: #9C5412;
  color: white;
  border: 1px solid #9C5412;

}


.boot--slides {
  min-height: 40rem;
  border-radius: 1rem;
  width: 40vw;
}

.boot--slides img {
  height: 35rem;
  border-radius: 1rem;
}

/* apartmet */
#page1 {
  position: relative; 
  /* padding: 20px; */
  height: 100vh;
}

#page1::before {
  content: "";
  background-image: url("https://lh3.googleusercontent.com/YFa-f0a1kOiU0eEX6Q1dw6i8E1wMOyZUrQwI-zd8Na4-WIx1oqEdfW8jbUeGBFyRtXsYhPE6FwWH5NUqUeWzHsS48SaMNA9ZWg=w640-h426-n-rj-l90");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#content{
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
}
#content h1{
  font-size: 60px;
}
#content p{
  font-size: 30px;
}

#housecards{
  margin-top: 75px;
  height: 100vh;
}
#housecard-image img{
  width: 400px;
  height: 300px;
  margin: auto;
  border-radius: 30px 0 0 30px;
  object-fit: cover; 
  object-position: center; 
  
}
#housecard{
  border: 1px solid black;
  width: 800px;
  display: flex;
  margin: 20px;
  border-radius: 30px;
}
#title{ 
  margin: 0 20px;
  justify-content: space-between;
}
#title h1{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#title p{
  font-weight: lighter;
  font-size: 15px;
}
#description, #buttons{
  display: flex;
  justify-content: space-between;
}
#description h2{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 40px;
}
#description h2 span{
  color: #ff9400;
}
#buttons button{
  border-radius: 20px;
  /* width: fit-content; */
  padding: 2px 15px;
  border: none;
  color: white;
  background-color: #ff9400;
  box-shadow: 2.5px 2.5px  10px 2px black;
}
#buttons button:active{
  transform: scale(0.95);
  cursor: pointer;
}