#page1 {
  position: relative; 
  /* padding: 20px; */
  height: 100vh;
}

#page1::before {
  content: "";
  background-image: url("https://lh3.googleusercontent.com/YFa-f0a1kOiU0eEX6Q1dw6i8E1wMOyZUrQwI-zd8Na4-WIx1oqEdfW8jbUeGBFyRtXsYhPE6FwWH5NUqUeWzHsS48SaMNA9ZWg=w640-h426-n-rj-l90");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#content{
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
}
#content h1{
  font-size: 60px;
}
#content p{
  font-size: 30px;
}

#housecards{
  margin-top: 75px;
  height: 100vh;
}
#housecard-image img{
  width: 400px;
  height: 300px;
  margin: auto;
  border-radius: 30px 0 0 30px;
  object-fit: cover; 
  object-position: center; 
  
}
#housecard{
  border: 1px solid black;
  width: 800px;
  display: flex;
  margin: 20px;
  border-radius: 30px;
}
#title{ 
  margin: 0 20px;
  justify-content: space-between;
}
#title h1{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#title p{
  font-weight: lighter;
  font-size: 15px;
}
#description, #buttons{
  display: flex;
  justify-content: space-between;
}
#description h2{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 40px;
}
#description h2 span{
  color: #ff9400;
}
#buttons button{
  border-radius: 20px;
  /* width: fit-content; */
  padding: 2px 15px;
  border: none;
  color: white;
  background-color: #ff9400;
  box-shadow: 2.5px 2.5px  10px 2px black;
}
#buttons button:active{
  transform: scale(0.95);
  cursor: pointer;
}